.googlelogo{
        height: 24p;
        width: 74px;
        margin-top: 0.7rem;
    
    
}

.plus{
    height: 24px;
    width: 24px;
    margin-left: 60rem;
}


.classroom{
    color: #5f6368;
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
    font-size: 1.5rem;
    text-indent: 100rem;
}

.menu{
    padding: 5px;
    height: 24px;
    width: 24px;
}

.header{
    display: flex;
    align-items: center;
    padding: 5px;
    background: white;
    border-bottom: .0625rem solid #e0e0e0;
   }



.placementtext{
    font-family: Arial,sans-serif;
    color: #3c4043;
}

.placementlink{
    font-family: Arial,sans-serif;
    color: blue;
    margin-left: 4rem;
    text-decoration: none;
}
body{
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size:25%;  
    height: 23.75rem;
    background-position-x: center;
    background-position-y: 10rem;
     
}
.placement{
    margin-top: 32rem; 
    margin-left: 40rem;
}