

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: white;
    border-bottom: .0625rem solid #e0e0e0;
   }


.logo{
    max-width: 100%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    width: 100px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(73, 70, 70);
  }
  li {
    display: inline;
  }
 
  img {
      height: 300px;
      width: 300px
  }
  
 
  
  #nevbar{
      display: inline;
      padding-left: 30px


  }

  .footer {
 
    width: 100%;
    height: 100%;
 background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;

 }

 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
@media screen and (min-width: 100%) {
    body{
      background-size: 50%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }