.googlelogo{
        height: 24p;
        width: 74px;
        margin-bottom: -1.2rem;
}

.plus{
    height: 24px;
    width: 24px;
    margin-left: 60rem;
}


.classroom{
    color: #5f6368;
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
    font-size: 1.4rem;

}

.icon{
    padding: 10px;
    height: 20px;
    width: 20px;
}

.header{
    display: flex;
    padding: 10px;
    background-color: rgb(252, 251, 250);
    
}

.innerheader{
    display: inline;
}

div{
    display: inline-block;
}
.placementtext{
    font-family: Arial,sans-serif;
    color: #3c4043;
}

.placementlink{
    font-family: Arial,sans-serif;
    color: blue;
    margin-left: 4rem;
    text-decoration: none;
}
body{
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size:25%;  
    height: 23.75rem;
    background-position-x: center;
    background-position-y: 10rem;
     
}
.placement{
    margin-top: 32rem; 
    margin-left: 40rem;
}